<!doctype html>
<html lang="ko" ng-app="workDialogApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<title>Work Edit</title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/workdialog.css"/>
</head>

<body ng-controller='workDialogController'>
<div class="container">
	<form role="form" class="form-horizontal">
        <div id="bunhorow" class="form-group">
            <label for="bunho" class="control-label col-xs-3">Work Register #</label>
            <div class="col-xs-3">
                <span class="form-control-static">{{item.bunho}}</span>
            </div>
            
            <label for="ref" class="col-xs-offset-2 control-label col-xs-1">Ref</label>
            <div class="col-xs-3">
                <span ng-model="item.ref"id="ref" class="form-control-static" contenteditable>{{item.ref}}</span>
            </div>
        </div>
        
        <!-- DATE / TIME / YOIL -->
        <div class="form-group">
            <label for="nalja" class="control-label col-xs-1">Date</label>
            <div class="col-xs-4">
                <input ng-blur="changeYoil(item.nalja)" ng-model="item.nalja" type='date' value="{{item.nalja}}" id="nalja" class="form-control input-sm"/>
            </div>
            
            <label for="sigack" class="control-label col-xs-1">Time</label>
            <div class="col-xs-4">
                <input ng-model="item.sigack" type='time' value="{{item.sigack}}" id="sigack" class="form-control input-sm"/>
            </div>
            
            <label for="yoil" class="control-label col-xs-1">Yoil</label>
            <div class="col-xs-1">
                <span ng-model="item.yoil" id="yoil" class="form-control-static">{{item.yoil}}</span>
            </div>
        </div>
    
        <!-- MARK / CASH / CARD -->
        <div class="form-group">
            <label for="mark" class="control-label col-xs-1">Mark</label>
            <div class="col-xs-3">
                <select ng-model="item.mark" id="mark" class="form-control input-sm">
                    <option value="a">urgent</option>
                    <option value="e">held</option>
                    <option value="i">scheduled</option>
                    <option value="o">finished</option>
                    <option value="u">information</option>
                </select>
            </div>
            
            <label for="cash" class="control-label col-xs-1">Cash</label>
            <div class="col-xs-3">
                <input ng-model="item.cash" value="{{item.cash}}" id="cash" class="form-control input-sm" />
            </div>
            
            <label for="card" class="control-label col-xs-1">Card</label>
            <div class="col-xs-3">
                <input ng-model="item.card" value="{{item.card}}" id="card" class="form-control input-sm" />
            </div>
        </div>
            
        <!-- REL / CAPTION -->
        <div class="form-group">
            <label for="rel" class="control-label col-xs-1">Rel</label>
            <div class="col-xs-2">
                <input ng-model="item.rel" type='text' value="{{item.rel}}" id="rel" class="form-control input-sm" />
            </div>
            
            <label for="caption" class="control-label col-xs-2">Caption</label>
            <div class="col-xs-7">
                <input ng-model="item.caption" type='text' value="{{item.caption}}" id="caption" class="form-control"/>
            </div>
        </div>
            
        <!-- WORK -->
        <div class="form-group">
            <label for="work" class="control-label col-xs-1">Work</label>
            <div class="col-xs-11">
                <textarea ng-model="item.work" cols="80" rows="7" id="work" class="form-control">{{item.work}}</textarea>
            </div>
        </div>
    
        <!-- BUTTONS -->
        <div class="form-group">
            <div id="button" class="col-xs-offset-3 col-xs-9">
                    <button ng-click="ok()" class="btn btn-default">OK</button>
                    <button ng-click="exit()" class="btn btn-default">EXIT</button>
                    <button ng-click="eks()" class="btn btn-default">DELETE</button>
            </div>
        </div>
	</form>
</div>

<script src="/lib/angular/angular.js"></script>
<script src="js/joyUtils.js"></script>
<script src="js/workdialog.js"></script>




</body>
</html>



