/*input[type=date] { width: 40%; display: inline; text-align: center; }*/
.calendar { height: 2em; text-align: center; color: #ffffff; background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%); border-color: #28a4c9; background-repeat: repeat-x;}
input { text-align: center; color: #ffffff; background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%); border-color: #28a4c9; background-repeat: repeat-x;}

.btn.db { font-weight: bold; font-size: 2em; color: #ff9382; background: #1829ff; }
#category-box { float: left;}


.glyphicon.glyphicon-search { }

#calendar { text-align: center; }
#search { text-align: center; }
#pagination {}
#gigan {}
button.on { background-color: red; }
#works {}

.workbox { margin-bottom: 3px; border: 1px solid #839283;}
.item { clear: both;}

.smallbox { float: left; }
.smallbox div { text-align: center; }

.bunhobox { width: 10%; }
.naljabox { width: 20%; }
.yoilbox { width: 5%; }
.captionbox { width: 63%; }

.index {}
.bunho { text-decoration: underline; }
.bunho:hover { cursor: pointer; }
.nalja {}
.sigack {}
.yoil {}
.marks {}
.caption { text-decoration: underline; text-align: left; }
.caption:hover { background-color: #839283; }

.ref { float: left; width: 25%; text-align: center; text-decoration: underline; }
.ref:hover { cursor: pointer; }
.rel { float: left; width: 25%; text-align: center; }
.cash { float: left; width: 25%; text-align: center; }
.card { float: left; width: 25%; text-align: center; }

.work { clear: both; color: #666666;   background: #f3f3f3; padding: 10px; }
.work:hover { color: #000000; background-color: #cccc00; }

.urgent { background-color: #ff3333; }
.held { background-color: #f3a833; }
.scheduled { background-color: #33ff33; }
.finished { background-color: #a7a8f3; }
.information { background-color: #6666ff; }

.an, .en, .in, .on, .un { background-color: #999999; }

#search-count { width: 3em; font-size: 1em; color: #ffff00; text-align: center; }





/*DO NOT SEE BELOW*/









































/*https://docs.angularjs.org/api/ng/directive/ngIf*/
.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}
/*animate-if*/

.highlightedText { background-color: #ffff00; }
::-webkit-input-placeholder { color: orangered; }

input[type=search] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -moz-appearance:none;
  -webkit-appearance: none;

  /* Now your own custom styles */
  height: 10px;
  width: 10px;
  background: red;
  /* Will place small red box on the right of input (positioning carries over) */

}