.glyphicon { }
.btn.db { font-weight: bold; font-size: 2em; color: #ff9382; background: #1829ff; }

.row { margin: 0; padding: 0; height: 100%; border: 0px solid blue; }
.workbox { margin: 0 0 10px 0; width: 100%; border: 0px solid red; border-bottom: 1px solid #839283;}
.item { clear: both; width: 100%;}
.smallbox { float: left; }
.smallbox div { text-align: center; }

.bunhobox { width: 10%; }
.naljabox { width: 20%; }
.yoilbox { width: 5%; }
.captionbox { width: 63%; }

input[type=date] { width: 50%; display: box; text-align: center; }

.index {}
.bunho {}
.nalja {}
.sigack {}
.yoil {}
.marks {}
.biyong {}
.caption { text-align: left; border: 0px solid blue; }
.caption:hover { background-color: #839283; }
.work { clear: both; border: 0px solid blue; }
.work:hover { font-size: larger; font-weight: bold; border: 0px solid #839283; }

.urgent { background-color: #ff3333; }
.held { background-color: #f3a833; }
.scheduled { background-color: #33ff33; }
.finished { background-color: #a7a8f3; }
.information { background-color: #6666ff; }

.an, .en, .in, .on, .un { background-color: #999999; }

.highlightedText { background-color: #ffff00; }
::-webkit-input-placeholder {
  color: orangered;
}




input[type=search] {
-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -moz-appearance:none;
  -webkit-appearance: none;
    
  /* Now your own custom styles */
  height: 10px;
  width: 10px;
  background: red;
  /* Will place small red box on the right of input (positioning carries over) */

}

.odd { background-color: lightcoral; }
.even { background-color: lavenderblush; }
td > *:first-child { font-weight: bold; }

dt{
	font-size:16px;
}

dd{
	
	padding-left:20px;
}