<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data">
			<td>{{item.bunho}}</td>
			<td>{{item.caption}}</td>
		</tr>
	</tbody>
</table>